<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Go Back",   '/' %></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="center jumbotron">
        <h1>About the app</h1>
    </div>
    <p>Learn how to use Ruby rails using the tutorial at <a href="https://www.railstutorial.org/book/">https://www.railstutorial.org/book/</a></p>
</div>