<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home",   '#' %></li>
                <li><a href="users#index">All Users</a></li>
                <li><a href="users/new">New User</a></li>
                <li><a href="microposts#new">All Posts</a></li>
                <li><a href="static_pages/help">About</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="center jumbotron">
        <h1>My first Rails App</h1>
    </div>
    <p>Welcome to my first rails app where you can manage users and user posts</a></p>
    <a href="users#index" class="btn btn-lg btn-primary">View Users</a>
</div>