<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Go Back",   '/' %></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="center jumbotron">
          <h1>All Microposts</h1>
    </div>
  <p id="notice"><%= notice %></p>
  
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @microposts.each do |micropost| %>
        <tr>
          <td><%= micropost.content %></td>
          <td><%= micropost.user_id %></td>
          <td><%= link_to 'Show', micropost %></td>
          <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
          <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Micropost', new_micropost_path %>
</div>
