<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Go Back",   '/' %></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="center jumbotron">
        <h1>New Micropost</h1>
    </div>
    
    <%= render 'form' %>
    
    <%= link_to 'Back', microposts_path %>
</div>
