<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Go Back",   '/' %></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="center jumbotron">
        <h1>Microposts</h1>
    </div>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Content:</strong>
      <%= @micropost.content %>
    </p>
    
    <p>
      <strong>User:</strong>
      <%= @micropost.user_id %>
    </p>
    
    <%= link_to 'Edit', edit_micropost_path(@micropost) %> |
    <%= link_to 'Back', microposts_path %>
</div>
